<section class="overview">
  <div class="wrapper">
  {{#each books}}
    <div class="bookCard {{#if borrowStatus}}borrowed{{/if}}">
      <a href="/{{title}}" class="imgwrapper">
        {{#if imageLinks.medium}}
          {{!-- <img src="{{imageLinks.extraLarge}}" alt="{{title}}">
        {{else if imageLinks.large}}
          <img src="{{imageLinks.large}}" alt="{{title}}">
        {{else if imageLinks.medium}} --}}
          <img src="{{imageLinks.medium}}" alt="{{title}}">
        {{else if imageLinks.small}}
          <img src="{{imageLinks.small}}" alt="{{title}}">
        {{else if imageLinks.thumbnail}}
          <img src="{{imageLinks.thumbnail}}" alt="{{title}}">
        {{else if imageLinks.smallThumbnail}}
          <img src="{{imageLinks.smallThumbnail}}" alt="{{title}}">
        {{else}}
          <div class="missing">
            <h2>{{title}}</h2>
            {{#if subtitle}}
              <p>{{subtitle}}</p>
            {{/if}}
          </div>
        {{/if}}
      </a>
    </div>
  {{/each}}
    <div class="bookCard" id="addBook">
      <a href="/add" class="imgwrapper">
        <div class="container"></div>
      </a>
    </div>
  </div>
</section>
