<section class="search">

  <form action="/q" method="GET" id="searchForm">
    <input name="search" type="text" autocomplete="off" value="{{[1]}}"/>
    <button type="submit" class="button">search</button>
  </form>

{{#each [0].items}}
  <div class="result">
    <picture>
      {{#if volumeInfo.imageLinks.small}}
        <img src="{{volumeInfo.imageLinks.small}}" alt="{{title}}">
      {{else if volumeInfo.imageLinks.thumbnail}}
        <img src="{{volumeInfo.imageLinks.thumbnail}}" alt="{{title}}">
      {{else if volumeInfo.imageLinks.smallThumbnail}}
        <img src="{{volumeInfo.imageLinks.smallThumbnail}}" alt="{{title}}">
      {{else}}
        <div class="missing">
            <p>no image available</p>
        </div>
      {{/if}}
    </picture>
    <div class="content">
      <h3>{{volumeInfo.title}}</h3>
      <table>
        <tr>
          <th>Author</th>
          {{!-- ! FIX THIS LATER --}}
          <th></th><th></th>
          <th>Published</th>
        </tr>
        <tr>
          <td>{{volumeInfo.authors}}</td>
          {{!-- ! FIX THIS LATER --}}
          <td></td><td></td>
          <td>{{volumeInfo.publishedDate}}</td>
        </tr>
      </table>
      <p>{{{volumeInfo.description}}}</p>
    </div>
    <form action="/{{id}}/create" method="post">
      {{!-- THIS CAN BE REFACTORED --}}
      {{!-- CREATE HIDDEN FIELDS FOR EVERY VALUE, AND PASS IT ON TO THE SUBMIT WITH THE REQ.BODY --}}
      {{!-- <input type="hidden" name="title" value="{{volume.info.title}}"> --}}
      {{!-- ETC. ETC. ETC. --}}
      <button type="submit" class="button add">add book</button>
    </form>

  </div>

{{/each}}

</section>
